<!-- Hashtags: {% for tag in page.tags %}{% if site.data.holomem[tag] %}#{{ site.data.holomem[tag].art_tag }} {% endif %}{% endfor %} -->

Welcome to the HoloArt Corner! Hololive has one of the most artistic and
talented communities I've ever been apart of, so I wanted to make sure I take
some time each week to give the community some love as well. Here's a sample of
some of my personal favorite fan arts from the past several days. I've embedded
each one of these as the original Tweet below. Please go show all of these
artists some love!

{% include holoart_embeds.html %}

## Wrapping Up

If you love Hololive fan art as much as I do, head on over to
[our talent list][TWIHLResources] where you can find links to all of the
talents fan art hashtags on Twitter as well as one big mega feed link you can
use to just browse through a constant stream of Hololive related art.

The HoloArt Corner will replace today's HoloDay post. HoloDay will be back
tomorrow with more updates on the talents.

Thanks for reading! Be sure to [give us a follow][TWIHLTwitter] over on Twitter
if you enjoyed this and sign up to get the Weekly Roundup by email using the
form below.

<abbr title="See you!">またね！</abbr>

[TWIHLTwitter]: <https://twitter.com/WeekInHololive>
[TWIHLResources]: </holomem>