<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <div class="cta-banner">
      <div class="wrapper">
        <strong>We're looking for writers!</strong> Would you like to contribute
        to This Week in Hololive by writing about your favorite Hololive talents?
        <a href="https://forms.gle/hXJLu5ZHAwTg9vZm9" target="_blank">
          <strong>Click here to sign up as a writer &raquo;</strong>
        </a>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    <script async data-uid="fa2d67d520" src="https://weekinhololive.ck.page/fa2d67d520/index.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </body>

</html>