<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <div class="cta-banner">
      <div class="wrapper">
        <strong>Latest HoloNews Issue:</strong> HoloNews for the Week of May
        24th - 30th is now available!
        <a href="https://www.reddit.com/r/Hololive/comments/npv7ax/holonews_may_24_may_30/" target="_blank">
          <strong>Click here to check it out &raquo;</strong>
        </a>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    {%- unless page.hide_ctas -%}
    <script async data-uid="fa2d67d520" src="https://weekinhololive.ck.page/fa2d67d520/index.js"></script>
    {%- endunless -%}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </body>

</html>